#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;  
}

#content {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 300px;
}

.nav {
	width: 400px;
}

.activepost {
  background-color: #6f5499;
  color: white;
}

.post-container li:hover { 
    background-color: grey;
}

.post-container li:active { 
    background-color: #6f5499;
}
.post-container p {
  display: inline;
}
.post-container button {
  position: absolute;
  right: 40px;
}
.post_body{
	background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
      border-top: 0px solid #000;

}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.posts li {
  border: 1px solid #d8d8d8;
  /* padding-top: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 10px; */
  /* margin-bottom: 10px; */
  word-wrap: break-word;
  /* min-height: 42px; */
}

.post-container {
  width: 300px;
  background-color: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  /* overflow: scroll; 
  height: 400px; */
}

.nav {
    width: 300px;
}

.input-group {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  width: 300px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  /* border-bottom: 1px solid #ddd; */
}