body {
  background-color: #eee;
}

#content {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 300px;
}

.nav {
	width: 100%;
}

.badge {
  background-color: #5bc0de;
}

.activepost {
  background-color: #5bc0de !important;
  border-border: #46b8da !important;
}

.search-content {
  padding-left: 23px; 
  padding-right: 23px;
}

.post-content {
  width: 400px;
}

.post-container li:hover { 
    background-color: #777;
}

.post-container li:active { 
    background-color: #6f5499;
}

.post-container p {
  display: inline;
}

.post-container button {
  position: absolute;
  right: 10px;
}

.post_body{
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-top: 0px solid #000;
}

.post {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: white;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.posts li {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1px;
  word-wrap: break-word;
}

.input-group {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 500px) {

  #map {
  }

  .post-container { 
    overflow: scroll;
    position: relative;
  }  

}

@media screen and (min-width: 501px) and (max-width: 991px) {

  #map {
  }

  .post-container { 
    height: 772px;
    overflow: scroll;
    position: relative;
  }  

}

@media screen and (min-width: 992px){

  .header {
    height: 125px;
  }

  .post-container { 
    height: 772px;
    overflow: scroll;
    position: relative;
  }  

}

/* 
new nav
*/

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.main-header {
  padding: 5px 0 5px 65px;
  color: black;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
  z-index: 9;
}

.main-header a {
  position: absolute;
  left: 20px;
  top: 20px;
  color: black;
  font-size: 32px;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #222;
  overflow-y: auto;
  transition: width 0.3s ease;
  white-space: nowrap;
  text-transform: uppercase;
}
.note {
  padding: 34px;
  border-bottom: 1px solid #666;
}

.note button {
  position: absolute;
  right: 20px;
}
.main-nav a {
  /* display: block; */
  /* border-bottom: 1px solid #666; */
  color: white;
  /* padding: 34px; */
}

.main-nav a:hover, .main-nav a:focus {
  background: #333;
}

.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 30%;
}

#main-nav:target + .page-wrap {
  width: 70%;
}

#main-nav:target + .page-wrap .close-menu {
  display: block;
}

#main-nav:target + .page-wrap .main-header {
  width: 70%;
  left: 30%;
}
